


$labelWidth: 50%;



.switch {
  position: relative;
  margin: 20px auto;
  height: 35px;
  width: $labelWidth * 2;
  background: rgba(black, .50);
  border-radius: 20px;
  @include box-shadow(inset 0 1px 3px rgba(black, .3), 0 1px rgba(white, .1));
  .switch-input {
    display: none;
  
    &:checked + .switch-label {
      font-weight: bold;
      color: rgba(black, .65);
      text-shadow: 0 1px rgba(white, .25);
      @include transition(.15s ease-out);
    }
  
    &:checked + .switch-label-on ~ .switch-selection {
      left: $labelWidth  /* Note: left: 50% doesn't transition in WebKit */
    }
  }
  .switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: $labelWidth;
    line-height: 35px;
    font-size: 15px;
    color: rgba(white, .90);
    text-align: center;
    text-shadow: 0 1px 1px rgba(black, .45);
    cursor: pointer;
    font-weight: normal;
    &:active { 
      font-weight: bold; 
    }
  }
  .switch-label-off { 
    padding-left: 0px; 
  }
.switch-label-on { 
    padding-right: 0px; 
}
.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: $labelWidth;
  height: 35px;
  background: #fff;
  border-radius: 16px;
  @include linear-gradient(top, #ececec, #fff);
  @include box-shadow(inset 0 1px rgba(white, .5), 0 0 2px rgba(black, .2));
  @include transition(left .15s ease-out);

  &.switch-blue {
    background: $blue;
    @include linear-gradient(top, #4fc9ee, #3aa2d0);
  }

  &.switch-yellow {
    background: $yellow;
    @include linear-gradient(top, #e0dd94, #c4bb61);
  }
}
}










