$primary-color:#333;
$primary-bg-color:#EFF3F6;
$radius: 0.05em;
$border-default-color: #ced4da;
$disabled: rgba(0,0,0,0.25);
$switch-button: #ccc;
// color variables 
$green: #1BBC9B;
$orange: #F0AD4E;
$yellow: #fee188;
$white: #ffffff;
$red: #fd5969;
$blue: #578EBE;
$cyan: #35c4ff;
$gray: #777777;
$light-gray: #B6B6B6;
$black: #000000;
$bg-dark: #484d55;
/* Side bar navigation theme */
$side-nav-bg: #484d55;
$nav-link-text: #f8f8f8;
$nav-link-text-hover: #f8f8f8;
$active-nav-link-border: #35c4ff;
$active-nav-link-hover-bg: #465766;
$nav-link-border:transparent;
$nav-link-bg: transparent;
$nav-link-hover-color: #f8f8f8;
$nav-link-bg-color: #596773;
/* Side bar navigation  theming End*/
/* Time Picker Theming Start */
$time-list-hover-bg: #484d55;
$time-list-gradient-bg: #eceeef;
/* Time Picker Theming End */
/* Select list Theming Start */
$list-item-hover-bg: #007bff;
/* Select List Theming End*/
/* Modal Theming Start*/
$modal-header-bg: #f2f2f2;
$modal-header-title-color: #333;
$modal-header-close-border: #858585;
/* Modal Theming End*/
$btn-outline-secondary: #dddfe0;
$date-picker-btn-text-color: #6c757d;