<div>
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">

    <div class="col">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <fn-input [(ngModel)]="user.email" [dataKey]="'email'" required [parentForm]="loginForm" name="Email">
        </fn-input>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Password</label>
        <fn-input [(ngModel)]="user.password" [dataKey]="'password'" required [parentForm]="loginForm" name="password">
        </fn-input>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

</div>
